<!-- Button trigger modal -->


<div class="d-flex fixed-top p-2" style="background-color: #9dd0a2;">
 <div class="container-fluid">
  <button
  type="button"
  class="btn"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="background-color:#f6fdfa; border-color: #3f5b43;"
>
<i class="fa-solid fa-plus" style="color: #3f5b43;" ></i> 
</button>
<span class="me-4 mt-2 mx-3" style="color: #f6fdfa;">Add New Company</span>
 </div>
<span class="text-uppercase w-25 mt-2">Companies Database</span></div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #3f5b43; color: #f6fdfa">
        <h5 class="modal-title" id="exampleModalLabel">Add new company</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="background-color: #9dd0a2;">
        <form #companyForm="ngForm" (ngSubmit)="create()">
          <div class="form-group">
            <label for="name" class="form-label" style="color: #f6fdfa">Company Name</label>
            <input
              [(ngModel)]="companies.name"
              name="name"
              type="name"
              class="form-control"
              id="name"
              placeholder="Add Company Name"
            />
          </div>
          <div class="form-group">
            <label for="description" class="form-label" style="color: #f6fdfa">Company Ceo Name</label>
            <input
              [(ngModel)]="companies.ceo"
              name="name"
              type="text"
              class="form-control"
              id="ceo"
              placeholder=" Add CEO "
            />
          </div>
        </form>
      </div>
      <div class="modal-footer" style="background-color: #3f5b43;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          (click)="create()"
          style="background-color: #f6fdfa; color:#3f5b43"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
