<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Add new Company
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new company</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #companyForm="ngForm" (ngSubmit)="create()">
          <div class="form-group">
            <label for="name" class="form-label">Company Name</label>
            <input
              [(ngModel)]="companies.name"
              name="name"
              type="name"
              class="form-control"
              id="name"
              placeholder="Add Company Name"
            />
          </div>
          <div class="form-group">
            <label for="description" class="form-label">Company Ceo Name</label>
            <input
              [(ngModel)]="companies.ceo"
              name="name"
              type="text"
              class="form-control"
              id="ceo"
              placeholder=" Add CEO "
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="create()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
